
@import './colorspalette.scss';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{

    background-color: $backgroundclr;
    
}

nav li:nth-child(1) a{
    background:$blogclr;
  }
  nav li:nth-child(2) a{
    background:$twitterclr;
  }
  nav li:nth-child(3) a{
    background: $linkinclr;
  }
  nav li:nth-child(4) a{
    background: $facebookclr;
  }
  nav li:nth-child(5) a{
    background: $githubclr;
  }


nav{
    display:block;
    position:absolute;
    bottom:25%;
    right:0px;
    width: 70px;
    list-style:none;
   

     li{
      height: 60px;
      position:relative;
      transition: .3s ease-in-out;
         }


     li a{
        color: white;
        display: block;
        height: 100%;
         width: 100%;
        font-family: 'Anek Latin', sans-serif;
        line-height: 60px;
        padding-left:25%;
            }
  
  
     li a i{
       position:absolute;
       top: 17px;
       left: 20px;
       font-size: 25px;
        }
     }

     
  ul li a span{
    display: none;
    
  }
  
  li:hover{

        z-index:1;
        width: 300px;
        margin-left:-200px;
        

  }

  a:hover{

      z-index:1;
      
  }
  
  ul li:hover span{
    
    display: block;

  }