//mixin

@mixin small-screen{

    body{
        height:100vh;
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:20px;
        background-color:#c3cfe2;
        margin:50px;
        }


}


@mixin medium-screen {



    body{ 

        display:grid;
        height:100vh;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1r ;
        margin-left:100px;
        margin-right:100px;
    }


}


@mixin large-screen{

    body{
       
        display:grid;
        height:100vh;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1r 1fr 1fr;
        margin-left:200px;
        margin-right:200px;

    }

}