@import './mixins.scss';

@include small-screen;


.container {
    display: grid;
    position: relative;
    width: 100%;
    
  }


  .container img {
    display:block;
    width: 100%;
    border-radius:20px;
    
  }
  
 

    .overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    transition:  1s ease-in-out;
    opacity:0;
    border-radius:20px;
    
  }
 
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-family: 'Blaka', cursive;
    cursor:pointer;
    padding: 12px 24px;
    border-radius: 5px;
    text-align: center;
    opacity:0;
  }



  .container:hover .overlay {
    opacity: 1;
  }
  
  .container:hover .btn {
    
    opacity: 1;
  }
  

  @media (min-width:768px) {


    @include medium-screen;

}


@media(min-width:1700px){

    @include large-screen;

}