@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import "./mixins.scss";
@import "./constants.scss";

@include Links;

body{

    background-color: $color-grey;
}

.Sander{
    height:500px;
    width:400px;
    position:sticky;
    top: 10%;
    left: 10%;
    right:25%;
    border-radius:20px;
    background-color:$color-white;
    filter: drop-shadow(5px 5px 5px grey);


    h3{

    @include text-WincTesti;
    
    }

    img{
    height:120px;
    width:120px;
    margin-left:140px;
    margin-right:140px;
    border-radius:50%;     
    border: 5px solid $color-white;

}



    .PersonID{

        background-color:$color-purple;
        width:100%;
        height: 175px;
        margin-top:-75px;
        border-radius:0 0 20px 20px;
    
        h2{ 
            letter-spacing: 0.15em;
            color:$color-white;
            padding-top:75px;
            text-align:center;
            font-family: 'Roboto', sans-serif;
        }

        h4{
            font-family: 'Roboto', sans-serif;
            font-size:1.2em;
            text-align:center;
            margin-top:-10px;
            letter-spacing: 0.1em;
        }

}



}